.idea
.ipynb_checkpoints
.DS_Store
*.pkl
app/__pycache__
transactions.json
.vscode

fantasy/draft/__pycache__
fantasy/fantasy/__pycache__
fantasy/__pycache__
tests/__pycache__
fantasy/draft/migrations/__pycache__
fantasy/draft/tests/__pycache__

*.pycfantasy/db.sqlite3
fantasy/media/*
