{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h3>Draft Entry</h3>
<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Submit</button>
    </div>
</form>
<hr>
<h3>Admin Functions</h3>
<p>
    <div class="form-group">
        <a href="{% url 'invalidate_data_frame' %}" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Invalidate Data Frame</a>
        <a href="#" class="btn btn-info btn-lg active" role="button" aria-pressed="true">Replay Transactions</a>

        <!-- Button trigger modal -->
        <a type="button" class="btn btn-danger btn-lg active" role="button" aria-pressed="true" data-toggle="modal"
            data-target="#confirmClearTransactionLog">Clear Transaction Log</a>

        <!-- Modal -->
        <div class="modal fade" id="confirmClearTransactionLog" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_title">Warning! Confirm Clearing Transaction Log</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Potentially dangerous operation! Are you SURE you want to clear the transaction log?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind, don't clear the
                            log</button>
                        <a href="#" class="btn btn-danger active" role="button" aria-pressed="true">Yes, clear the
                            log</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p>

{% endblock content %}


{% block custom_scripting %}
<script>
    $(document).ready(function () {

        $("#player-table tbody").attr("class", "searchable");

        $(".dataframe tr").each(function () {
            $this = $(this);
            var row_index = $this.index();
            if (row_index != 0 && row_index % 10 == 0) {
                $this.after('<tr style="text-align: center;"><th></th><th>calculated_value</th><th>calculated_$</th><th>new_$</th><th>bargain_$</th><th>sold_$</th><th>owned</th><th>g</th><th>m/g</th><th>Team</th><th>Inj</th><th>adjfg%</th><th>ft%</th><th>3/g</th><th>3%</th><th>or/g</th><th>dr/g</th><th>a/g</th><th>s/g</th><th>b/g</th><th>to/g</th><th>p/g</th><th>rank</th></tr>')
            }
        });

        var players = [{% for p in players %} "{{p|safe}}", {% endfor %} ];

    $("#player-dropdown").autocomplete({ source: players });

    var teams = [{% for t in teams %} "{{t|safe}}", {% endfor %} ];
    $("#team-dropdown").autocomplete({ source: teams });

    // $(".available").parent().parent().css({"background-color": "#98D3B1"});
    $(".unavailable").parent().parent().css({ "background-color": "#F9B1A9" });


    (function ($) {

        $('#player-dropdown').keyup(function () {

            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();

        })
        $('#player-dropdown').click(function () {

            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();

        })

    }(jQuery));
        });
</script>
{% endblock custom_scripting %}