{% extends 'base.html' %}

{% block custom_meta %}
<!-- <meta http-equiv="refresh" content="3"/> -->
{% endblock custom_meta %}
    
{% block content %}
<p>{{ draft_data_table|safe }}</p>
{% endblock content %}


{% block custom_scripting %}
<script>
$(document).ready( function () {

    $("#player-table tbody").attr("class", "searchable");

    $(".dataframe tr").each(function() {
      $this = $(this);
      var row_index = $this.index();
      if (row_index != 0 && row_index % 10 == 0) {
        $this.after('<tr style="text-align: center;"><th></th><th>calculated_value</th><th>calculated_$</th><th>new_$</th><th>bargain_$</th><th>sold_$</th><th>owned</th><th>g</th><th>m/g</th><th>Team</th><th>Inj</th><th>adjfg%</th><th>ft%</th><th>3/g</th><th>3%</th><th>or/g</th><th>dr/g</th><th>a/g</th><th>s/g</th><th>b/g</th><th>to/g</th><th>p/g</th><th>rank</th></tr>')
      }
    });
});
</script>
{% endblock custom_scripting %}
